# Kontrola wersji
.git
.gitignore
.github

# Zależności
node_modules
npm-debug.log

# Testy
test
coverage

# Pliki IDE
.vscode
.idea
*.swp
*.swo
.cursor

# Tymczasowe pliki i logi
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Inne
README.md
NOTICE
LICENSE
mockserver

# Pliki Docker
Dockerfile
.dockerignore
docker-compose.yml 